.carrito,
.btn-proceder-al-pago{
    width: 80%;
}
.carrito,
.titulo-carrito,
.productos-carrito,
.total-carrito
{
    border: 1px solid #000;
}
.carrito{
    height: 50%;
}
.titulo-carrito
{
    height: 20%;
}
.productos-carrito
{
    height: 63%;
    overflow: hidden;
    overflow-y: scroll;

}
.total-carrito
{
    height: 15%;
    justify-content: space-around;
}
.subt-pago{
    font-weight: bold;
}
.product-orden{
    margin: 6px 0;
    justify-content: space-around;
}
.img-product-carrito{
    width: 25%;
}
.fa-trash-alt{
    font-size: 22px;
}
.btn-proceder-al-pago{
    height: 40px;
    border-radius: 0px;
    border: 2px solid #000;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}