*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
/* colores */
:root{
    --color-1: #FFF;    /* Contenido */
    --color-2: #000;    /* Color negro */
    --color-3: #EEE;    /* Fondo de la página */
    --color-4: #75797a; /* Texto general */
    --color-5: #565959; /* Encabezados */
    --color-6: #F2F2F2; /* Módulos destacados */
    --color-7: #08acdc; /* Color corporativo */
    --color-8: #808080; /* Gris genérico */
}
/* Títulos */
h1{font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 16px;}
h4{font-size: 14px;}
small{font-size: 75%;}
/* Enlaces */
a{
    text-decoration: none;
    color: var(--color-8);
}
/* Botones */
.boton-principal{
    background-color: var(--color-7);
    color: var(--color-1);
    border-radius: 16px;
    padding: 5px 10px;
    font-size: 11px;
}
.boton-secundario{
    background-color: #CCC;
    color: #333;
    border-radius: 16px;
    padding: 5px 10px;
    font-size: 11px;
}
/* Organizar los elementos */
.d-flex{
    display: flex;
}
.f-d-column{
    flex-direction: column;
}
.j-c-center{
    justify-content: center;
}
.a-i-center{
    align-items: center;
}
/* Tamaño de los elementos */
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.h-100vh{
    height: 100vh;
}