.header{
    background-color: var(--color-1);
    border-bottom: 1px solid #ddd;
    height: 10%;
    padding: 0 2%;
}
.header, .enlaces{
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: calc(6px + 1vw);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.fa-shopping-cart{
    /* font-size: 21px; */
    color: var(--color-2);
    font-size: calc(8px + 1vw);
}
.enlaces, #buscador{
    width: 50%
}
#buscador{
    padding: 2%;
    height: calc(10px + 1vw);
    border: 1px solid var(--color-8);
    border-radius: 3px;
}
.txt-enlace{
    font-size: calc(0px + 1vw);
    /* margin-left: 2%; */
}
