.body{
    background-color: var(--color-3);
}
.filtros-container{
    width: 15%;
}
.productos-container{
    width: 65%;
}
.carrito-container{
    width: 20%;
}
.productos-container,
.carrito-container{
    border-left: 1px solid #ddd;
}
.titulo-sec{
    height: 10%;
    padding-left: 13%;
}
.precio-container,
.descuento-container,
.color-container,
.material-container{
    height: 22.15%;
    padding: 0 13%;
}
.precio-container,
.descuento-container,
.color-container,
.material-container{
    border-top: 1px solid #ddd;
}
#precio, #color, #material{
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}
.resultado-slider{
    justify-content: space-between;
}
.txt-filtro{
    margin: 9.5% 0;
}
#color, #material{
    height: 20%;
    border-radius: 3px;
}
.form{
    height: 10%;
    justify-content: space-evenly;
}
.txt-pagina{
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 5px 10px;
    background-color: var(--color-6);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.texto-filtro-bg{
    background-color: #CCC;
}
#radio-1, #radio-2, #radio-3, #radio-4,
#radio-5, #radio-6, #radio-7{
    display: none
}
.producto-container{
    border: 1px solid #000;
    width: 22%;
}
.img-producto{
    margin: 10px 0;
    width: 90%;
    height: 56.5%;
    cursor: pointer;
}
.add-to-car{
    width: 100%;
}
#cantidad-producto, .btn-añadir{
    width: 50%;
    border-radius: 0px;
    border: 1px solid #000;
    padding: 5px 0;
    margin-top: 10px;
}
#cantidad-producto{
    text-align: center;
}
.btn-añadir{
    cursor: pointer;
    font-weight: bold;
}
.all-products-container{
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.productos-container{
    height: 565px;
    overflow: hidden;
    overflow-y: scroll;
}
.all-products-container{
    height: 40%;
}