.main{
    background-color: var(--color-3);
}
.img-principal,
.img-secundaria
{
    border: 1px solid #000;
}
.carrito-container{
    border-left: 1px solid #ddd;
}
.imagenes-producto-container{
    width: 35%;
}
.detalle-product{
    width: 45%;
}
.carrito-container{
    width: 20%;
}
.img-container{
    width: 80%;
    height: 80%;
}
.img-principal{
    height: 80%;
}
.img-secundarias-container{
    height: 20%;
    justify-content: space-between;
}
.img-secundaria{
    width: 24%;
    height: 85%;
}
.info-detalle-product{
    width: 90%;
    height: 80%;
}
.info-detalle-product{
    justify-content: space-between;
}
.add-to-car-container{
    margin-bottom: 10%;
}
.precio-product{
    font-size: 24px;
}
.txt-info{
    font-weight: bold;
    font-size: 14px;
}
#cantidad{
    margin: 0 10px;
    width: 65px;
    text-align: center;
}
.descripcion-product,
.txt-info, p{
    font-size: 15px;
}
.img-principal img{
    width: 90%;
}
.img-secundarias-container img{
    width: 75%;
}
#cantidad{
    padding: 2px;
}
#add_to_car{
    padding: 2px 20px;
    border-radius: 0px;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: bold;
}