main{
    background-color: var(--color-3);
}
.direccion-container,
.pago-container{
    width: 40%;
}
.total-pago-conatiner{
    width: 20%;
}
.sec-container{
    width: 95%;
    height: 90%;
}
.doble-input-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input, select{
    padding-left: 20px;
    height: 45px;
    margin: 5px 0;
}
input{
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #ddd;
    outline: 0px #fff;
}
.input-48{
    width: 45%;
}
select{
    border: 1px solid #ddd;
    width: 49% !important;
}
.btn-comprobar-info{
    height: 45px;
}
button{
    margin-top: 10px;
    background-color: var(--color-7);
    border: 1px solid #ddd;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #12728f;
    color: var(--color-1);
}
.tarjetas-pago{
    justify-content: flex-start;
}
.fab{
    font-size: 21px;
    margin-left: 5px;
}
.titulo-1{
    margin-bottom: 12px;
}
.total-pago-conatiner{
    border-left: 1px solid #ddd;
}
.total-pago{
    border: 2px solid #000;
    width: 80%;
    height: 45%;
}
.titulo-total-pago{
    height: 20%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #000;
    width: 100%;
}
.txt-cantidad{
    font-weight: bold;
}
.n_cantidad{
    font-weight: 400;
}
.detalles-precios{
    justify-content: space-between;
}
.productos-precios{
    width: 80%;
    height: 60%;
    justify-content: space-evenly;
}
.total-a-pagar-container{
    width: 100%;
    height: 20%;
    border-top: 2px solid #000;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.total-a-pagar-container{
    justify-content: space-evenly;
}